---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$light-white: rgba(255, 255, 255, .15);
$lightest-white: rgba(245, 250, 255, 0.04);

$base-font: Menlo, Consolas, monospace;
$base-line-height: 25px;

@import "../_themes/{{site.theme}}.scss";
@import "base", "media";
