%arrow-pseudo {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    border-width: 0.35em 0 0.35em 0.35em;
}
.arrow {
    position: absolute;
    top: $arrow-top;
    left: $arrow-left;
    cursor: pointer;
    display: inline-block;
    background: $arrow-bg;
    width: 0.5em;
    height: 0.65em;
    font-size: initial;
    border-radius: 50px;
    transform: rotate(90deg);
    &:before {
        @extend %arrow-pseudo;
        left: 0;
        border-color: transparent transparent transparent $count-bg;
    }
    &:after {
        @extend %arrow-pseudo;
        right: 0;
        border-color: $count-bg transparent;
    }
    &:hover {
        background: $arrow-hover-bg;
    }
}
