@media screen and (max-width: 500px) {
    body {
        font-size: 13px;
    }
    pre {
        width: calc(100% - 50px);
    }
    aside {
        width: ($count-width - 10);
        font-size: ($count-font-size - 3);
        span {
            padding-left: 5px;
        }
    }
    code .arrow {
        top: 9px;
    }
    code.gutter-new:before {
        left: -($count-width);
        width: 1px;
    }
    code .code-content .code-line.gutter-new:before {
        left: -100px;
        width: 1px;
    }
}
