$base-bg: #151718;

$count-col: #404b53;
$count-bg: #0e1112;

$code-indent-line-bg: $lightest-white;

$selection-col: #9fca56;
$selection-dot-col: #858d8a;
$brace-col: #d4d7d6;

$code-attr-col: #a074c4;
$code-attr-colon-col: #858d8a;

$code-value-col: #cd3f45;
$code-value-semicolon-col: #858d8a;
$code-value-number-col: #cd3f45;
$code-value-percent-col: #9fca56;
$code-value-content-col: #55b5db;

$arrow-bg: #272F35;
$arrow-hover-bg: #55b5db;
$arrow-close-bg: #ccc;

$gutter-bg: #9fca56;

$comment-col: #858d8a;
$comment-slash-col: #d4d7d6;
