/* Solarized Colors */
$sol-primary: #002B36;
$sol-secondary: #073642;
$sol-grey: #839496;
$sol-grey-light: #d4d7d6;
$sol-grey-dark: #4E6C72;
$sol-blue: #268bd2;
$sol-green: #2aa198;
$sol-green-light: #859900;
$sol-pink: #d33682;
$sol-brown: #b58900;

/* Required Variables */
$base-bg: $sol-primary;

$count-col: $sol-grey;
$count-bg: $sol-secondary;

$code-indent-line-bg: $lightest-white;

$selection-col: $sol-blue;
$selection-dot-col: $sol-blue;
$brace-col: $sol-blue;

$code-attr-col: $sol-brown;
$code-attr-colon-col: $sol-grey;

$code-value-col: $sol-green;
$code-value-semicolon-col: $sol-grey;
$code-value-number-col: $sol-green;
$code-value-percent-col: $sol-green;
$code-value-content-col: $sol-green;

$arrow-bg: $sol-grey-dark;
$arrow-hover-bg: $sol-grey;
$arrow-close-bg: $sol-pink;

$gutter-bg: $sol-green-light;

$comment-col: $sol-grey;
$comment-slash-col: $sol-grey;
